{
  "dreamFactory": "http://DreamFactory_URL",
  "apiKey": "36fda24fe5588fa4285ac6c6c2fdfbdb6b6bc9834699774c9bf777f706d05a88",
  "sessionToken": "DreamFactory_TOKEN",
  "logger": {
    "level": "debug"
  }
}
